<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OnlineInsuranceSystem</display-name>
  <welcome-file-list>
    <welcome-file>InsertUser.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InsertUser</servlet-name>
    <servlet-class>com.manipal.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUser</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.manipal.controller.UpdateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPolicy</servlet-name>
    <servlet-class>com.manipal.controller.AddPolicyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPolicy</servlet-name>
    <url-pattern>/AddPolicyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertClaim</servlet-name>
    <servlet-class>com.manipal.controller.ClaimsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertClaim</servlet-name>
    <url-pattern>/ClaimsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateClaim</servlet-name>
    <servlet-class>com.manipal.controller.ClaimsUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClaim</servlet-name>
    <url-pattern>/ClaimsUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteClaim</servlet-name>
    <servlet-class>com.manipal.controller.ClaimsDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClaim</servlet-name>
    <url-pattern>/ClaimsDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertAgent</servlet-name>
    <servlet-class>com.manipal.controller.AgentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAgent</servlet-name>
    <url-pattern>/AgentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAgent</servlet-name>
    <servlet-class>com.manipal.controller.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAgent</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateAgent</servlet-name>
    <servlet-class>com.manipal.controller.UpdateAgentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAgent</servlet-name>
    <url-pattern>/UpdateAgentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertInsurance</servlet-name>
    <servlet-class>com.manipal.controller.InsuranceInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertInsurance</servlet-name>
    <url-pattern>/InsuranceInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateInsurance</servlet-name>
    <servlet-class>com.manipal.controller.InsuranceUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInsurance</servlet-name>
    <url-pattern>/InsuranceUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteInsurance</servlet-name>
    <servlet-class>com.manipal.controller.InsuranceDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteInsurance</servlet-name>
    <url-pattern>/InsuranceDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertPolicy</servlet-name>
    <servlet-class>com.manipal.controller.PolicyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPolicy</servlet-name>
    <url-pattern>/PolicyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeletePolicy</servlet-name>
    <servlet-class>com.manipal.controller.PolicyDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePolicy</servlet-name>
    <url-pattern>/PolicyDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdatePolicy</servlet-name>
    <servlet-class>com.manipal.controller.UpdatePolicyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePolicy</servlet-name>
    <url-pattern>/UpdatePolicyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.manipal.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.manipal.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgentLogin</servlet-name>
    <servlet-class>com.manipal.controller.AgentLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentLogin</servlet-name>
    <url-pattern>/AgentLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Payment</servlet-name>
    <servlet-class>com.manipal.controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PaymentMode</servlet-name>
    <servlet-class>com.manipal.controller.PaymentModeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentMode</servlet-name>
    <url-pattern>/PaymentModeController</url-pattern>
  </servlet-mapping>
</web-app>